<div class="slider">
  <a href="#" class="slider__control" data-slide="prev">
    <img
      src="../../../assets/controls-icons/arrow-left.png"
      alt="arrow to left"
      class="slider__arroy"
    />
  </a>
  <div class="slider__wrapper">
    <div class="slider__items">
      <div class="slider__item">
        <div>
          <img
            src="../../../assets/images/pets-katrine.png"
            alt="cat"
            class="slider__image"
          />
        </div>
        <h4 class="slider__title">Katrine</h4>
        <div>
          <button class="slider__button">Learn more</button>
        </div>
      </div>
      <div class="slider__item">
        <div>
          <img
            src="../../../assets/images/pets-jennifer.png"
            alt="puppy"
            class="slider__image"
          />
        </div>
        <h4 class="slider__title">Jennifer</h4>
        <div>
          <button class="slider__button">Learn more</button>
        </div>
      </div>
      <div class="slider__item">
        <div>
          <img
            src="../../../assets/images/pets-woody.png"
            alt="dog"
            class="slider__image"
          />
        </div>
        <h4 class="slider__title">Woody</h4>
        <div>
          <button class="slider__button">Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="slider__control" data-slide="next">
    <img
      src="../../../assets/controls-icons/arrow-right.png"
      alt="arrow to right"
      class="slider__arroy"
  /></a>
</div>
