.slider {
  display: flex;
  align-items: center;

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 270px;
  }

  &__title {
    font: $font-header4;
    color: $color-dark-l;
  }

  &__button {
    // width: 187px;
    // height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    padding: 15px 45px;
    background-color: transparent;
    font: $font-button;
    color: $color-dark-3xl;
    cursor: pointer;
  }

  &__button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
