.start-screen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.main {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__image {
  width: 698px;
  height: 728px;
}

.main__title {
  max-width: 310px;
  margin: 0 0 42px 0;
  font: $font-header2;
  color: $color-light-xl;
}

.main__subtitle {
  max-width: 460px;
  font: $font-paragraph-l;
  color: $color-dark-s;
  margin: 0 0 42px 0;
}

.button-primary {
  @include button($color-primary);
}
.button-primary:hover {
  @include button($color-primary-light);
}
.main__button {
  margin-bottom: 23px;
}

.main__image-container {
  padding: 59px 0 0 38px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
