<div class="start-screen">
  <div class="wrapper">
    <div class="main">
      <div class="container main-container">
        <h2 class="main__title">Not only people need a house</h2>
        <p class="main__subtitle">
          We offer to give a chance to a little and nice puppy with an extremely
          wide and open heart. He or she will love you more than anybody else in
          the world, you will see!
        </p>
        <button class="main__button">Make a friend</button>
      </div>
      <div class="container main__image-container">
        <img src="../../../assets/images/start-screen-puppy.png" alt="puppy" />
      </div>
    </div>
  </div>
</div>
