.start-screen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.start-screen__wrapper {
  max-width: 1200px;
  margin: auto;
}

.main {
  display: flex;

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    max-width: 698px;
  }

  &__title {
    max-width: 310px;
    margin: 0 0 42px 0;
    font: $font-header2;
    color: $color-light-xl;
  }

  &__subtitle {
    max-width: 460px;
    font: $font-paragraph-l;
    color: $color-dark-s;
    margin: 0 0 42px 0;
  }

  &__image-container {
    padding: 59px 0 0 38px;
  }
}

.button-primary {
  @include button($color-primary);
}
.button-primary:hover {
  @include button($color-primary-light);
}
.main__button {
  margin-bottom: 23px;
}

@media screen and (max-width: 1250px) {
  .main {
    max-width: 80%;
    margin: 60px auto 0;

    &__image {
      width: 100%;
    }
  }
}

@media screen and (max-width: 905px) {
  .main {
    flex-direction: column;
    align-items: center;
    max-width: 569px;

    &__content-container {
      padding-left: 15px;
    }

    &__image-container {
      padding: 0 0 0 155px;
    }

    &__image {
      width: 569px;
    }

    &__button {
      display: block;
      margin: 0 auto 98px;
    }
  }
}

@media screen and (max-width: 742px) {
  .main__image-container {
    padding: 0 0 0 40px;
  }

  .main__image {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .main__image {
    width: 260px;
  }
}

@media screen and (max-width: 350px) {
  .main__content-container {
    text-align: center;
  }

  .main__title {
    padding: 0 10%;
    font: $font-header3-mobile;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 320px) {
  .main {
    max-width: 300px;

    &__subtitle {
      margin-bottom: 41px;
      letter-spacing: -0.01em;
    }

    &__button {
      margin-bottom: 103px;
    }

    &__image-container {
      max-width: 300px;
      text-align: end;
    }
  }
}

@media screen and (max-width: 330px) {
  .main__title {
    //  padding: 2%;
  }

  .main__image {
    width: 100%;
  }
}
