$font-basis: 10px;
$font-logo-title: 3.2em/110% Georgia, sans-serif;
$font-logo-subtitle: 1.3em/115% Arial, sans-serif;
$font-paragraph-l: 1.5em/160% Arial, sans-serif;
$color-primary: #f1cdb3;
$color-primary-light: #FDDCC4;
$color-light-xl: #ffffff;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-light-s: #FAFAFA;
$color-light-s: #FAFAFA;