.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-title {
    margin: 61px 0px 10px 0px;
    font: $font-logo-title;
    letter-spacing: 0.06em;
    color: $color-primary;
  }

  &__logo-subtitle {
    margin: 0px;
    padding-left: 5px;
    font: $font-logo-subtitle;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__list {
    width: 443px;
    margin-top: 65px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style-type: none;
  }

  %link-shared {
    padding-bottom: 4px;
    text-decoration: none;
    font: $font-paragraph-l;
    letter-spacing: 0.005em;
    color: $color-dark-s;
  }

  &__link {
    @extend %link-shared;
  }

  &__link_active {
    @extend %link-shared;
    border-bottom: solid 3px $color-primary;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    margin: auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 820px) {
  .header {
    max-width: 708px;
    padding-left: 16px;

    &__logo-title {
      margin: 31px 0px 10px 0px;
    }

    &__list {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 569px;
    padding-left: 0px;

    &__list {
      display: none;
    }

    .burger-button {
      margin-top: 36px;
      margin-right: 44px;
    }

    .burger-button > div {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    &__logo {
      padding-left: 8px;
    }

    &__logo p {
      min-width: 184px;
    }
  }
}
