.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-title {
    margin: 61px 0px 10px 0px;
    font: $font-logo-title;
    letter-spacing: 0.06em;
    color: $color-primary;
  }

  &__logo-subtitle {
    margin: 0px;
    padding-left: 5px;
    font: $font-logo-subtitle;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__list {
    width: 443px;
    margin-top: 65px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style-type: none;
  }

  %link-shared {
    padding-bottom: 4px;
    text-decoration: none;
    font: $font-paragraph-l;
    letter-spacing: 0.005em;
    color: $color-dark-s;
  }

  &__link {
    @extend %link-shared;
  }

  &__link_active {
    @extend %link-shared;
    border-bottom: solid 3px $color-primary;
  }
}
