@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-button {
  width: 30px;
  height: 30px;

  & > div {
    width: 100%;
    border: solid 1px $color-primary;
    margin-bottom: 10px;
  }

  & > div:last-child {
    margin-bottom: 0px;
  }
}

.burger-button:hover {
  @include transform(rotateZ(90deg));
}

@media screen and (min-width: 701px) {
  .burger-button {
    display: none;
  }
}
