.about-pets-container {
  max-width: 1200px;
  margin: auto;
}

.about-pets {
  display: flex;
  margin: 62px 0 0 255px;
  max-width: 770px;
  justify-content: space-between;

  &__image-container {
    margin-top: 19px;
  }

  &__image {
    width: 300px;
  }

  &__content-container {
    max-width: 430px;
  }

  &__title {
    max-width: 370px;
    font: $font-header3;
    color: $color-dark-l;
    letter-spacing: 0.06em;
    margin-bottom: 24px;
  }

  &__paragraph {
    font: $font-paragraph-l;
    color: $color-dark-xl;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .about-pets {
    margin: 46px auto 0;
  }
}

@media screen and (max-width: 905px) {
  .about-pets {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 19px;

    &__image-container {
      margin-top: 53px;
    }
  }
}

@media screen and (max-width: 320px) {
  .about-pets {
    max-width: 300px;
    margin: 16px auto 0;
    padding-left: 0px;

    &__title {
      max-width: 270px;
      font: $font-header3-mobile;
      text-align: center;
      padding-left: 17px;
    }
    
    &__paragraph {
      padding-left: 16px;
      max-width: 270px;
      text-align: justify;
    }

    &__image-container {
      margin: 14px 0 0 14px;
    }

    &__image {
      width: 260px;
    }
  }
}
